doctype html
html
  head
    title Dugu Learning
    block scripts
    block style 
  body
    nav#header
        img(src='../static/Dugu\ Learning.jpg')
        ul#lists
            li #[a(href='/') Home]
            li #[a(href='/') Course] 
            li #[a(href='/') Placements] 
            li #[a(href='/contectus') Contact Us] 
        button(onclick="login_act()")#logbtn Login
    block content
    section#footer_de 
        div.de_1
            ul.de1
                li Services
                li Parterns
                li Careers
                li Our Company
        div.de_2
            ul.de1
                li Our Branches 
                li Privacy Policy
                li Term of Use
                li More About Us
    footer#foot
        h4.footer_de Dugu Learning © Copyright 2021 | All Rights Reserved